.current {
  color: grey;
}

p {
    white-space: pre-wrap;
}

body {
  color:#2a2b2b;
  margin: 100px 10px;
  font-family: "SFMono-Regular", Menlo, Consolas, "Liberation Mono", monospace;
  font-size: 120%;
}

.underlined { text-decoration: underline; }

.small-image {
  max-width: 800px;
  height: auto;
}
