.current {
  color: grey;
}

p {
    white-space: pre-wrap;
}

body {
  color:#2a2b2b;
  margin: 100px 10px;
  font-family: "SFMono-Regular", Menlo, Consolas, "Liberation Mono", monospace;
  font-size: 120%;
}

.underlined { text-decoration: underline; }

.small-image {
  max-width: 500px;
  height: auto;
}

.medium-image {
  max-width: 800px;
  height: auto;
}

.image-with-caption {
    text-align: center;
    margin: 24px auto;
  }

  .image-with-caption img {
    display: block;
    margin: 0 auto;
  }

  .image-with-caption figcaption {
    margin-top: 8px;
    font-size: 0.95em;
    color: #666;
  }
